.container-fluid {
  background: linear-gradient(to bottom, #3d3d3d 50vh, white 60%);
  height: 100%;
  width: 100%;
}
.info {
  height: 50vh;
}
.name {
  font-size: 55px;
  letter-spacing: 0.5px;
}

.description {
  font-size: 25px;
  letter-spacing: 1px;
}

.btn {
  width: 10%;
  height: 15%;
  margin: auto;
}

.about-me h3 {
  font-size: 50px;
}

.download-btn {
  width: 30%;
  height: 30%;
  align-items: center;
  background-color: #3d3d3d;
}
