<div
  class="container-fluid d-flex justify-content-around align-items-center flex-container text-white flex-column"
>
  <h1 class="">Skills</h1>
  <p class="" style="width: 40vw">{{ skillsDescription }}</p>
  <div class="d-flex justify-content-between" style="width: 70%">
    <div class="">
      <h5>My Focus</h5>
      <hr />
      <ul>
        <li class="p-1">{{ focus[0] }}</li>
        <li class="p-1">{{ focus[1] }}</li>
        <li class="p-1">{{ focus[2] }}</li>
        <li class="p-1">{{ focus[3] }}</li>
      </ul>
    </div>
    <div style="width: 70%">
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 40%">HTML</div>
      </div>
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 50%">CSS</div>
      </div>
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 20%">JavaScript</div>
      </div>
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 70%">React</div>
      </div>
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 45%">Photoshop</div>
      </div>
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 80%">Adobe XD</div>
      </div>
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 100%">Node.js</div>
      </div>
      <div class="progress" style="height: 20px">
        <div class="progress-bar" style="width: 100%">WordPress</div>
      </div>
    </div>
  </div>
</div>
