<div class="container row mx-auto m-5" style="height: 94vh">
  <app-portfolio-card
    [cardDetails]="details[0]"
    [bgColor]="'#959188'"
    class="col-4"
  ></app-portfolio-card>
  <app-portfolio-card
    [cardDetails]="details[1]"
    [bgColor]="'#404040'"
    class="col-4"
  ></app-portfolio-card>
  <app-portfolio-card
    [cardDetails]="details[2]"
    [bgColor]="'#959188'"
    class="col-4"
  ></app-portfolio-card>
  <app-portfolio-card
    [cardDetails]="details[3]"
    [bgColor]="'#404040'"
    class="col-4"
  ></app-portfolio-card>
  <app-portfolio-card
    [cardDetails]="details[4]"
    [bgColor]="'#959188'"
    class="col-4"
  ></app-portfolio-card>
  <app-portfolio-card
    [cardDetails]="details[5]"
    [bgColor]="'#404040'"
    class="col-4"
  ></app-portfolio-card>
</div>
